<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>hello</title>
  <meta name="description" content="One Space Station Interface">
</head>

<body>
  <h1>Hello World!</h1>
  <script type="text/javascript">
$.ready(function(){
  $('#form').click(function(e){
    e.preventDefault();
    $.ajax({
      url: "/convert"
      data: {
        text: //text from form
      }
    }).complete(function() {
      // display original text, converted text and metadata in <ul> below form.
    });
  })
});
  </script>
</body>
</html>
